<ion-view title='<img class="title-image" src="../img/logoFinal.png" />'>
  <ion-content class="padding">
    <h3 class="title">BOOKINGS</h3>
    <p ng-if="error">{{error}}</p>
    <p ng-if="message">{{message}}</p>
    <p>{{date}}</p>
    <div class="col" ng-if="timeslots" ng-repeat="timeslot in timeslots">
      <button class="button button-full company-color" ng-if="!timeslot.booked" ng-click="openDatePicker(id, date, timeslot.start_time)" >
      <div class="item item-divider">
        <p>{{timeslot.start_time}}</p>
        <p>{{timeslot.end_time}}</p>
        <p></p>
      </div>
      </button>
      <button ng-if="timeslot.booked" class="button button-full red">
        <div class="item item-divider">
          <p>{{timeslot.start_time}}</p>
          <p>{{timeslot.end_time}}</p>
          <p></p>
        </div>
      </button>
    </div>
    <div ng-if="blocks" ng-repeat="block in blocks">
      <div class="item item-divider">
      <p><div ng-if{{block.start_time}}=={{date}} {{timeslot.start_time}}>
        {{block.start_time}}
      </div></p>
    </div>
  </div>
  </ion-content>
</ion-view>
